<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Honeybee Haven - About Us</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <link rel="shortcut icon" type="x-icon" th:href="@{/images/honeybeeHavenLogo.svg}">

    <!-- Google Web Fonts -->
    <link th:href="@{img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/all.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/brands.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/fontawesome.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/regular.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/solid.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/svg-with-js.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/v4-font-face.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/v4-shims.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/v5-font-face.css}" rel="stylesheet">
    <!-- Icon Font Stylesheet -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css}" rel="stylesheet">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/home/index.css}"   rel="stylesheet">
    <link th:href="@{/css/userInterface/header.css}" rel="stylesheet">
    <link th:href="@{/css/userInterface/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/userInterface/footer.css}" rel="stylesheet">
    <link th:href="@{/css/home/about.css}" rel="stylesheet">
</head>

<body>
<div class="container-fluid px-5 d-none d-lg-block">
    <div class="row gx-5 py-3 align-items-center">
        <div class="col-lg-3">
            <div class="d-flex align-items-center justify-content-start">
                <img th:src="@{/images/honeybeeHavenLogo.svg}" class="HeaderLogo">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex align-items-center justify-content-center">
                <a th:href="@{/HoneyBeeHaven/index}" class="navbar-brand ms-lg-5">
                <h1 class="m-0 display-4 text-primary"><span class="text-secondary">Honeybee </span>Haven</h1>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="d-flex align-items-center justify-content-end">
                <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-primary btn-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<div th:utext="${navbar}" class="sticky-lg-top"></div>
<!-- Topbar End -->



	

        <div class="about-section">
            <h1>Mission</h1>
           <p> Empowering Farmers Through Innovation: Our agriculture web app is a transformative platform that seamlessly connects growers with a comprehensive suite of essential resources, data, and tools to revolutionize the way they manage their crops. We understand the critical role that agriculture plays in feeding the world's population while simultaneously addressing the pressing need for sustainable farming practices. By providing farmers with real-time data on weather patterns, soil conditions, and market trends, our app empowers them to make informed decisions that can significantly boost their yields, reduce waste, and increase overall productivity. </p>
            Moreover, our commitment to sustainability goes beyond just data-driven decision-making. We've integrated features that promote eco-friendly farming practices, including recommendations for organic fertilizers and pest control methods, as well as water-efficient irrigation techniques. Through this app, we aim to foster a community of environmentally conscious growers who can collectively contribute to a more sustainable and resilient agricultural sector. As we continue to innovate and collaborate with farmers, our vision is to not only optimize crop management but also nurture a global network of growers who share a common goal of ensuring food security for generations to come </div>
        </div>

          <div class="about-section1">
            <h1>History</h1>
            <p> Established in 2017, Honeybee Haven has consistently been at the forefront of driving innovation in the field of agriculture. Right from our inception, we have been unwavering in our commitment to promoting sustainable farming practices and leveraging user-centric technology. In 2021, we reached a significant milestone with the launch of our first web app, a watershed moment that marked the beginning of a transformative journey.</p>
            <p>Over the years, our dedication to sustainable farming has paid off, as we've not only expanded our presence but also garnered official approvals and certifications. It has been immensely gratifying to witness our users achieve remarkable results, including higher crop yields, reduced operational costs, and increased sustainability, all of which are cornerstones of our mission. Today, we stand as a trusted and respected name in the agriculture industry, consistently making a positive impact by empowering farmers with cutting-edge tools and information to enhance their productivity and foster a more sustainable agricultural landscape. </p>
          </div>

    <!-- Facts Start -->
    <div class="container-fluid bg-primary facts py-5 mb-5">
        <div class="container py-5">
            <div class="row gx-5 gy-4">
                <h1 class="Xheading">Accomplishments</h1>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex">
                        <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-star fs-4 text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white">Years Experience</h5>
                            <h1 class="display-5 text-white mb-0" data-toggle="counter-up">1</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex">
                        <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-users fs-4 text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white">Farmers Registered</h5>
                            <h1 class="display-5 text-white mb-0" data-toggle="counter-up">20</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex">
                        <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-check fs-4 text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white">Transactions</h5>
                            <h1 class="display-5 text-white mb-0" data-toggle="counter-up">25</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex">
                        <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-business-time fs-4 text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white">Businesses</h5>
                            <h1 class="display-5 text-white mb-0" data-toggle="counter-up">15</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="team" class="team_member section-padding">
        <div class="container">				
            <div class="section-title text-center">
                <h1 class="heading1" >Meet our experts</h1>
                <p>Here is our list of geniuses.</p>
            </div>				
            <div class="row text-center">
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="our-team">
                        <div class="team_img">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="team-image">
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Anas Nauman</h3>
                            <span class="post">Leader</span>
                        </div>
                    </div>
                </div><!--- END COL -->														
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                    <div class="our-team">
                        <div class="team_img">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="team-image">
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Qasim Naveed</h3>
                            <span class="post">Developer</span>
                        </div>
                    </div>
                </div><!--- END COL -->
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                    <div class="our-team">
                        <div class="team_img"  >
                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="team-image">
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Saad Asif</h3>
                            <span class="post">Marketer</span>
                        </div>
                    </div>
                </div><!--- END COL -->
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                    <div class="our-team">
                        <div class="team_img">
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="team-image">
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Jane Doe</h3>
                            <span class="post">Co-founder</span>
                        </div>
                    </div>
                </div><!--- END COL -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                </div><!--- END COL -->
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
                    <div class="our-team">
                        <div class="team_img">
                            <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="team-image">
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Muhammad Hammad</h3>
                            <span class="post">Graphics Expert</span>
                        </div>
                    </div>
                </div><!--- END COL -->
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="0">
                    <div class="our-team">
                        <div class="team_img">
                            <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="team-image">
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Wajeeh Ahmed </h3>
                            <span class="post">Animator</span>
                        </div>
                    </div>
                </div><!--- END COL -->				
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->		
    </section>
    <!-- Footer Start -->

    <!-- Footer End -->
 

    <!-- JavaScript Libraries -->
</body>

</html>