<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Honeybee Haven - Report Business</title>
    <link th:href="@{/images/honeybeeHavenLogo.svg}" rel="icon">
    <link
            th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
    <link rel="shortcut icon" type="x-icon" th:href="@{/images/honeybeeHavenLogo.svg}"/>
    <link th:href="@{/css/fontawesome/all.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/brands.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/fontawesome.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/regular.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/solid.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/svg-with-js.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/v4-font-face.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/v4-shims.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/v5-font-face.css}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap}" rel="stylesheet">
    <link rel="shortcut icon" type="x-icon" th:href="@{/images/honeybeeHavenLogo.svg}">

    <!-- Icon Font Stylesheet -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css}" rel="stylesheet">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/home/index.css}"   rel="stylesheet">
    <link th:href="@{/css/userInterface/header.css}" rel="stylesheet">
    <link th:href="@{/css/userInterface/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/userInterface/footer.css}" rel="stylesheet">
    <link th:href="@{/css/business/createItem.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid px-5 d-none d-lg-block">
    <div class="row gx-5 py-3 align-items-center">
        <div class="col-lg-3">
            <div class="d-flex align-items-center justify-content-start">
                <img th:src="@{/images/honeybeeHavenLogo.svg}" class="HeaderLogo">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex align-items-center justify-content-center">
                <a th:href="@{/HoneyBeeHaven/index}" class="navbar-brand ms-lg-5">

                <h1 class="m-0 display-4 text-primary"><span class="text-secondary">Honeybee </span>Haven</h1>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="d-flex align-items-center justify-content-end">
                <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-primary btn-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-5 sticky-lg-top">
    <a href="./businessDashboard.html" class="navbar-brand d-flex d-lg-none">
        <h1 class="m-0 display-4 text-secondary" ><span class="text-white">Honeybee</span>Haven</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

        <div class="navbar-nav mx-auto py-0">
            <!-- Search Form -->
            <form class="form-inline my-2 my-lg-0 py-4 px-4 " onsubmit="">
                <div class="input-group">
                    <input id="searchInput" class="form-control custom-search-input" type="text" placeholder="Search Honeybee" aria-label="Search">
                    <button id="imageDiv"> <img id="magnifyingGlassSearchImage" th:src="@{/images/userInterface/magnifyingGlass-search.png}">
                    </button>
                    <div class="input-group-append">
                    </div>
                </div>
            </form>
            <!-- End Search Form -->
            <a th:href="@{/shared/marketplace.html}" class="nav-item nav-link ">Marketplace</a>
            <a th:href="@{/createItem.html}" class="nav-item nav-link">Create!</a>
            <a th:href="@{/myProducts.html}" class="nav-item nav-link">My products</a>
            <a th:href="@{/orderPage.html}" class="nav-item nav-link">Orders</a>
            <a th:href="@{/promote.html}" class="nav-item nav-link">Promote</a>
            <a th:href="@{/shared/inbox.html}" class="nav-item nav-link">Inbox</a>
            <a th:href="@{/business/BusinessDashboard.html}" class="nav-item nav-link">Me</a>
        </div>
    </div>
    </div>
</nav>
<!-- Navbar End -->
    <div class="sticky-lg-top" th:utext="${navbar}"></div>
<!-- content -->

<div class="centralizing-div">

    <div class="form-container" style="padding: 20px">
        <form th:action="@{/HoneyBeeHaven/submitreportBusiness}" method="post" th:object="${reportbusinessForm}" enctype="multipart/form-data">
            <h3>Report Type</h3>
            <select id="reportType" name="reportType" required th:field="*{reportType}">
                <option value="">Select an option</option>
                <option value="discrimination">Discrimination</option>
                <option value="hateSpeech">Hate Speech</option>
                <option value="abuseViolence">Abuse or Violence</option>
                <option value="harassment">Harassment</option>
                <option value="fraudScam">Fraud or Scam</option>
                <option value="inappropriateContent">Inappropriate Content</option>
                <option value="misinformation">Misinformation</option>
            </select>
            <h3>Reason</h3>
            <input type="text" maxlength="250" placeholder="Give Reason" name="mprice" th:field="*{reportreason3}" required>
            <input type="number" style="display: none" placeholder="Length in inches" name="mdimensions1"  th:field="*{complainee3id}" step="0.1" required>
            <div>
                <input type="submit" style="background-color: #34AD54; color: white" value="Create!" id="submit">
            </div>
        </form>
    </div>
</div>


<!-- content -->

<!-- Footer Start -->
<div class="container-fluid bg-footer bg-primary text-white mt-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-8 col-md-6">
                <div class="row gx-5">
                    <div class="col-lg-4 col-md-12 pt-5 mb-5">
                        <h4 class="text-white mb-4">Beefriend Us</h4>
                        <div class="d-flex mb-2">
                            <i class="bi bi-geo-alt text-white me-2"></i>
                            <p class="text-white mb-0">123 Nectar Lane, Beeville, Honeyland</p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-envelope-open text-white me-2"></i>
                            <p class="text-white mb-0">honeybeehaven99@gmail.com</p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-telephone text-white me-2"></i>
                            <p class="text-white mb-0">(+12) 345 67890</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                        <h4 class="text-white mb-4">Quick Links</h4>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="/HoneyBeeHaven/privacyPolicy" target="_blank"><i class="bi bi-arrow-right text-white me-2"></i>Privacy Policy</a>
                            <a class="text-white mb-2" href="/HoneyBeeHaven/termsAndConditions" target="_blank"><i class="bi bi-arrow-right text-white me-2"></i>Terms & Conditions</a>
                            <a class="text-white mb-2" href="/HoneyBeeHaven/about" target="_blank"><i class="bi bi-arrow-right text-white me-2"></i>About Us</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                        <h4 class="text-white mb-4">Popular Links</h4>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href=  "https://youtu.be/zpkN0ycubDs" target="_blank"><i class="bi bi-arrow-right text-white me-2"></i>Live Bee Cam</a>
                            <a class="text-white mb-2" href= "https://www.nature.org/en-us/" target="_blank"><i class="bi bi-arrow-right text-white me-2"></i>Nature Conservancy</a>
                            <a class="text-white mb-2" href=   "https://www.pollinator.org/" target="_blank"><i class="bi bi-arrow-right text-white me-2"></i>Pollinator Partnership</a>
                            <a class="text-white mb-2" href="https://thebeeconservancy.org/" target="_blank"><i class="bi bi-arrow-right text-white me-2"></i>Bee Conservancy</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-n5">
                <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-secondary p-5">
                    <h4 class="text-white">Contact Us</h4>
                    <p>Subscribe to our hive and stay buzzing with the latest updates, sweet deals, and all things honeybee magic.</p>
                    <p>Let the nectar of knowledge flow to your inbox because you deserve a taste of the sweet stuff.</p>
                    <form action="/HoneyBeeHaven/contact">
                        <div class="input-group">
                            <input style="display: none;" type="text" id="subscriberEmailInput" class="form-control border-white p-3" placeholder="Your Email">
                            <button id="subscriberEmailButton"  class="btn btn-primary" >Contact</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
