<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">


<title>Honeybee Haven - Chat</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/home/inbox.css}" rel="stylesheet">
	<meta http-equiv="refresh" content="20">
	<!-- Favicon -->
    <link th:href="@{/images/honeybeeHavenLogo.svg}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap}" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css}" rel="stylesheet">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Template Stylesheet -->
    <link th:href="@{/css/home/index.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/home/index.css}">
    <link th:href="@{/css/userInterface/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/userInterface/header.css}" rel="stylesheet">
    <link th:href="@{/css/userInterface/footer.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/all.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/brands.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/fontawesome.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/regular.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/solid.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/svg-with-js.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/v4-font-face.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/v4-shims.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/v5-font-face.css}" rel="stylesheet">
</head>

<body>
   <!-- Topbar Start -->
   <div class="container-fluid px-5 d-none d-lg-block">
	<div class="row gx-5 py-3 align-items-center">
		<div class="col-lg-3">
			<div class="d-flex align-items-center justify-content-start">
		   
				<img th:src="@{/images/honeybeeHavenLogo.svg}" class="HeaderLogo">
			</div>
		</div>
		<div class="col-lg-6">
			<div class="d-flex align-items-center justify-content-center">
                <a th:href="@{/HoneyBeeHaven/index}" class="navbar-brand ms-lg-5">

                <h1 class="m-0 display-4 text-primary"><span class="text-secondary">Honeybee </span>Haven</h1>
				</a>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="d-flex align-items-center justify-content-end">
				<a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
				<a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
				<a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
				<a class="btn btn-primary btn-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
			</div>
		</div>
	</div>
</div>
<!-- Topbar End -->

 <!-- Navbar Start -->
   <div class="sticky-lg-top" th:utext="${navbar}"></div>
<!-- Navbar End -->

<main class="content" style="display: flex; justify-content: center">
    <div style="width: 90%; margin: 0px; overflow: auto">

		<h1  style="margin-top: 20px; margin-left:90px ;" class="h3 mb-3">Inbox</h1>

		<div class="card" style="overflow: auto">
			<div style="overflow: auto">
				<div style="overflow: auto">
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
						<div class="d-flex align-items-center py-1">
							<div class="position-relative">
								<img th:src="@{${image}}" class="rounded-circle mr-1" alt="" width="40" height="40">
							</div>
							<div class="flex-grow-1 pl-3" style=" max-width: 400px;   overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;">
							<a th:href="@{${href}}" ><strong th:text="${name}"></strong></a>

                            </div>

						</div>
					</div>

					<div class="position-relative" style="overflow: auto">
						<div class="chat-messages p-4" style="overflow: auto">
							<div th:each="message : ${messages}">
								<div style="overflow: auto" th:class="${message.type == 1} ? 'chat-message-right pb-4' : 'chat-message-left pb-4'">
									<div>
										<img th:src="@{${message.image}}" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
									</div>
									<div style="overflow: auto" class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
										<div style=" max-width: 400px;  overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;" class="font-weight-bold mb-1" th:text="${message.name}" ></div>
										<p style="overflow: auto" th:text="${message.text}"></p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="flex-grow-0 py-3 px-4 border-top">
						<form th:action="@{/HoneyBeeHaven/sendMessage}" method="post">
						<div class="input-group">

							<input type="text" class="form-control" placeholder="Type your message" name="mtext" maxlength="250" required>
								<input type="number" style="display: none;" name="convid" th:value="${convid}" required>
								<input type="number" style="display: none;" name="otherid" th:value="${otherid}" required>
							<input type="submit" value="Send" class="btn btn-primary"></input>

						</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
</main>

  
    <!-- Footer Start --><div class="container-fluid bg-footer bg-primary text-white mt-5">
       <div class="container">
           <div class="row gx-5">
               <div class="col-lg-8 col-md-6">
                   <div class="row gx-5">
                       <div class="col-lg-4 col-md-12 pt-5 mb-5">
                           <h4 class="text-white mb-4">Beefriend Us</h4>
                           <div class="d-flex mb-2">
                               <i class="bi bi-geo-alt text-white me-2"></i>
                               <p class="text-white mb-0">123 Nectar Lane, Beeville, Honeyland</p>
                           </div>
                           <div class="d-flex mb-2">
                               <i class="bi bi-envelope-open text-white me-2"></i>
                               <p class="text-white mb-0">honeybeehaven99@gmail.com</p>
                           </div>
                           <div class="d-flex mb-2">
                               <i class="bi bi-telephone text-white me-2"></i>
                               <p class="text-white mb-0">(+12) 345 67890</p>
                           </div>
                       </div>
                       <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                           <h4 class="text-white mb-4">Quick Links</h4>
                           <div class="d-flex flex-column justify-content-start">
                               <a class="text-white mb-2" href="/HoneyBeeHaven/privacyPolicy" target="_blank"><i class="bi bi-arrow-right text-white me-2"></i>Privacy Policy</a>
                               <a class="text-white mb-2" href="/HoneyBeeHaven/termsAndConditions" target="_blank"><i class="bi bi-arrow-right text-white me-2"></i>Terms & Conditions</a>
                               <a class="text-white mb-2" href="/HoneyBeeHaven/about" target="_blank"><i class="bi bi-arrow-right text-white me-2"></i>About Us</a>
                           </div>
                       </div>
                       <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                           <h4 class="text-white mb-4">Popular Links</h4>
                           <div class="d-flex flex-column justify-content-start">
                               <a class="text-white mb-2" href=  "https://youtu.be/zpkN0ycubDs" target="_blank"><i class="bi bi-arrow-right text-white me-2"></i>Live Bee Cam</a>
                               <a class="text-white mb-2" href= "https://www.nature.org/en-us/" target="_blank"><i class="bi bi-arrow-right text-white me-2"></i>Nature Conservancy</a>
                               <a class="text-white mb-2" href=   "https://www.pollinator.org/" target="_blank"><i class="bi bi-arrow-right text-white me-2"></i>Pollinator Partnership</a>
                               <a class="text-white mb-2" href="https://thebeeconservancy.org/" target="_blank"><i class="bi bi-arrow-right text-white me-2"></i>Bee Conservancy</a>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 mt-lg-n5">
                   <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-secondary p-5">
                       <h4 class="text-white">Contact Us</h4>
                       <p>Subscribe to our hive and stay buzzing with the latest updates, sweet deals, and all things honeybee magic.</p>
                       <p>Let the nectar of knowledge flow to your inbox because you deserve a taste of the sweet stuff.</p>
                       <form action="/HoneyBeeHaven/contact">
                           <div class="input-group">
                               <input style="display: none;" type="text" id="subscriberEmailInput" class="form-control border-white p-3" placeholder="Your Email">
                               <button id="subscriberEmailButton"  class="btn btn-primary" >Contact</button>
                           </div>
                       </form>
                   </div>
               </div>
           </div>
       </div>
   </div>
    <!-- Footer End -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>